body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica", "sans-serif";
    text-align: center;
}

section{
    h1 {
        text-align: center;
        padding: 30px 0;
        background: #f3976c;
        text-shadow: 1px 1px 7px black;
        color: white;
    }
    .div-choice {
        display: flex;
        justify-content: space-around;
        padding: 50px 0;
       
    }
    
    .btn-main {
        padding: 20px;
        border-radius: 40px;
        font-size: 16px;
        animation: animShadow 3s infinite;
        text-transform: uppercase;
        transition: background-color 5s;
        transition: color 3s;
        
        &:hover {
            
            color: black;
       
            background: #f3976c;
            opacity: 1;
        }
    }
    
    .btn-old {
        border: 2px solid #f3976c;
       
        color: #f3976c;
        font-weight: bold;
    
  
    }
    .btn-new {
        border: 2px solid #f3976c;
        color: #f3976c;
        font-weight: bold;
        
    
    
    
    }

}
@keyframes animShadow {

    0%{
        box-shadow: 1px 1px 3px #202020;
    }
    100%{
        box-shadow: 1px 1px 10px #202020;
    }
}

